/* Add a black background color to the top navigation */
.topnav {
    background-color: darkslategrey;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    /*height: 48px;*/
}

/* Style the links inside the navigation bar */
.topnav a {
    /*float: left;*/
    color: #f2f2f2;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    margin: 0%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
    color: #f2f2f2;
  }

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    /*margin-top: 30px;*/
    background-color: darkslategrey; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav h3{
    text-indent: 10px;
    color: #4CAF50
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 165px; /* Same as the width of the sidebar */
    margin-top: 48px; 
    padding: 10px 10px;
}

img {max-width: 300px; height: auto;}

.item-detail {
    padding: 10px 10px;
}

.content-input {
    margin-top: 48px;
    /*padding: 10px 10px;*/
}

.form-input {
width: 300px;
font-size: 16px;
}

.form-label {
display: inline-block;
min-width: 150px;
vertical-align: top;
}

.form-error ul {
list-style: none;
padding: 0;
color: #CC0000;
}

.cart thead {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    font-family: Arial;
}

.cart img {max-width: 150px; height: auto;}

.cart th {
    padding: 0px 20px;
}

.total {
    font-size: 20px;
    font-family: Arial;
}