{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static 'internet_shop/css/mystyle.css' %}" rel="stylesheet">
</head>
<body>
<div class="topnav">
    <ul>
        <li><a class="active" href="{% url 'shop:product_list' %}">My shop</a></li>
        <li><a href="#about">About</a></li>

        <div class="topnav-right">
        {% if request.user.is_authenticated %}
            <li class="last"><a href="{% url 'cart:cart_detail' %}">Cart</a></li>
            <li class="last">{{user.username}}|<a href="{% url 'shop:logout' %}">Logout</a> </li>
        {% else %}
            <li class="last"><a href="{% url 'shop:register' %}">Registration</a>|<a href="{% url 'shop:login' %}">Login</a></li>
        {% endif %}
        </div>
    </ul>
</div>
<div class="content-input">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>