{% extends 'internet_shop/base.html' %}

{% block content %}
    <h1>{{title}}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endblock %}