{% extends "internet_shop/base.html" %}
{% load static %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
    <div class="sidenav">
        <h3>Categories</h3>
        <ul>
            <li {% if not cat_selected %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">All</a>
            </li>
            {% for c in categories %}
                <li {% if cat_selected == c.pk %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="main">
        <h1>{{ title }}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                ₴{{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}