{% extends "internet_shop/base.html" %}
{% load static %}

{% block title %}
    {{ product }}
{% endblock %}

{% block content %}
    <div class="item-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">₴{{ product.price }}</p>

        {% if request.user.is_authenticated %}
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
        <input type="submit" value="Add to cart">
        </form>
        {% endif %}

        {{ product.description|linebreaks }}

        {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
        {% endwith %}

        {% for comment in comments %}
            <div class="comment">
                <p class="info">
                    Comment {{ forloop.counter }} by {{ comment.name }}
                    {{ comment.created }}
                </p>
                {{ comment.body|linebreaks }}
            </div>
        {% empty %}
            <p>There are no comments yet.</p>
        {% endfor %}

        {% if request.user.is_authenticated %}
        {% if new_comment %}
            <h2>Your comment has been added.</h2>
        {% else %}
            <h2>Add a new comment</h2>
            <form action="." method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
            </form>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}